@import "reset.css";
@font-face {
  font-family: "Gilroy";
  font-weight: auto;
  src: url(fonts/Gilroy-SemiBold.ttf)
  format('truetype');
}
@font-face {
  font-family: "Gilroy-Medium";
  font-weight: auto;
  src: url(fonts/Gilroy-Medium.ttf)
  format('truetype');
}
@font-face {
  font-family: "AkzidenzGroteskPro-Regular";
  font-weight: auto;
  src: url(fonts/AkzidenzGroteskPro-Regular.ttf)
  format('truetype');
}
@font-face {
  font-family: "Gotham";
  font-weight: auto;
  src: url(fonts/GothaProBol.otf)
  format('opentype');
}
@font-face {
  font-family: "Oldbaskerville";
  font-weight: auto;
  src: url(fonts/7092.ttf)
  format('truetype');
}
@font-face {
  font-family: "ScotchModern-Bold";
  font-weight: auto;
  src: url(fonts/ScotchModern-Bold.otf)
  format('opentype');
}
@font-face {
  font-family: "Caslon";
  font-weight: auto;
  src: url(fonts/7092.ttf)
  format('truetype');
}
@font-face {
  font-family: "Swift";
  font-weight: auto;
  src: url(fonts/Swift-Bold.ttf)
  format('truetype');
}
@font-face {
  font-family: "TrajanPro3-Regular";
  font-weight: auto;
  src: url(fonts/TrajanPro3-Regular.otf)
  format('opentype');
}
@font-face {
  font-family: "Caslon";
  font-weight: auto;
  src: url(fonts/7129.ttf)
  format('truetype');
}
@font-face {
  font-family: "Garamond";
  font-weight: auto;
  src: url(fonts/GARA.TTF)
  format('truetype');
}
@font-face {
  font-family: "Optima";
  font-weight: auto;
  src: url(fonts/Optima.ttf)
  format('truetype');
}
body{
  background-color: #000;
  max-width: 7000px;
  max-height: 1000px;
  transition: all ease 400ms;
}
p {
  font-family: 'Gilroy-Medium', helvetica, sans-serif;
}
.name{
  text-align: center;
  position: fixed;
  left: 3%;
  top: 15%;
  filter: blur(0);
}
.name h1{
  font-size: 15vw;
  color: #79D5E0;
  font-family: 'Gilroy-SemiBold', helvetica, sans-serif;
  z-index: -2;
  position: absolute;
}

.name img{
  height: 50vw;
  max-width: 100vw;
  position: absolute;
  text-align: center;
  transition: 1000ms all ease;
  z-index: 0;
}
.name svg{
  opacity: 0.6;
}
.square_1{
  border: 0.3vw solid #fff;
  background-color: none;
  width: 11vw;
  height: 11vw;
  color: #fff;
  transform: translateX(20vw);
}

.numbers, .numbers + p{
  font-family: 'Gilroy-Medium', helvetica, sans-serif;
  margin-right: 0.8vw;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.square_1 h2{
  font-size: 3.5vw;
  font-weight: 400;
  margin-left: 0.8vw;
  margin-top: 2vw;
}
.square_1 p{
  font-size: 0.9vw;
  font-weight: 400;
  margin-left: 1vw;
}
.numbers p:last-child{
  font-size: 1.2vw;
  font-weight: bold;
  font-family: 'Gilroy-Medium', helvetica, sans-serif;
}
.square_1 p:first-child{
  margin-top: 0.8vw;
}
.square_1 h2 + p{
  font-size: 1.2vw;
  margin-top: auto;
}
.all_elements, .all_elements .inside_1, .all_elements .inside_2{
  max-height: 130vw;
  position: absolute;
}
.all_elements .inside_2{
  position: absolute;
  margin-top: -4000px;
}

/* ШРИФТЫ */
.all_elements .square_1:nth-of-type(1) h2{
  font-family: "ScotchModern-Bold", serif;
}
.all_elements .square_1:nth-of-type(2) h2{
  font-family: times, serif;
}
.all_elements .square_1:nth-of-type(3) h2{
  font-family: "TrajanPro3-Regular", serif;
}
.all_elements .square_1:nth-of-type(4) h2{
  font-family: "Garamond", serif;
}
.all_elements .square_1:nth-of-type(5) h2{
  font-family: "Oldbaskerville", serif;
}
.all_elements .square_1:nth-of-type(6) h2{
  font-family: "Optima", serif;
}
.all_elements .square_1:nth-of-type(7) h2{
  font-family: "Swift", serif;
}
.all_elements .square_1:nth-of-type(8) h2{
  font-family: "Bodoni", serif;
}
.all_elements .square_1:nth-of-type(9) h2{
  font-family: "Caslon", serif;
}
.all_elements .square_1:nth-of-type(10) h2{
  font-family: "univers LT CYR", helvetica, sans-serif;
}
.all_elements .square_1:nth-of-type(11) h2{
  font-family: "AkzidenzGroteskPro-Regular", helvetica, sans-serif;
}
.all_elements .square_1:nth-of-type(12) h2{
  font-family: arial, sans-serif;
}
.all_elements .square_1:nth-of-type(13) h2{
  font-family: "Gilroy", sans-serif;
}
.all_elements .square_1:nth-of-type(14) h2{
  font-family: "Gotham", sans-serif;
}
.square_2{
  width: 17.5vw;
  height: 17.5vw;
  color: #fff;
  background-color: #000;
  border: 0.3vw solid #fff;
  margin-left: -1.8vw;
  margin-top: -1.8vw;
  top: 0;
  position: absolute;
  z-index: 100;
}
.square_2{
  display: none;
}
.square_2 p{
  font-family: "Gilroy", sans-serif;
  font-size: 1.5vw;
  margin-left: 1vw;
  margin-top: 1vw;
  font-weight: lighter;
}
.close{
  position: absolute;
  height: 2.1vw;
  width: auto;
  left: 14.2vw;
  top: 0.1vw;
}

.square_2 img:last-child{
  max-height: 10vw;
  max-width: 10vw;
  position: absolute;
  margin-left: 23%;
  margin-top: 20%;
}

 svg {
  position: relative;
  width: 400%;
  height: 400%;
}
svg path {
  stroke-width: 2;
}
.svg_anim {
  position: absolute;
  margin-left: 25%;
  margin-top: 20%;
  max-width: 7vw;
  height: auto;
}
.svg_anim path{
  -webkit-transition: none;
}



@media (max-width: 864px) {
  .name{
    text-align: center;
    position: fixed;
    left: 3%;
    top: 45%;
  }
  .square_1{
    width: 19vw;
    height: 19vw;
    border: 0.4vw solid #fff;
  }
  .square_1 h2{
   font-size: 5vw;
   margin-top: 6vw;
   margin-left: 1.3vw;
  }
  .square_1 p{
    font-size: 1.4vw;
  }
  .numbers p:last-child{
    font-size: 1.7vw;
    font-weight: bold;
    margin-top: 1vw;
    font-family: 'Gilroy-Medium', helvetica, sans-serif;
    margin-left: 1.2vw;
  }
  .square_1 p:first-child{
    margin-top: 1vw;
    margin-left: 1vw;
  }
  .square_1 h2 + p{
    font-size: 2.3vw;
    margin-top: 1vw;
    margin-left: 1.3vw;
  }
  .square_2{
    width: 27vw;
    height: 27vw;
    border: 0.4vw solid #fff;
  }
  .square_2 p{
   font-size: 2.3vw;
   margin-left: 1.5vw;
   margin-top: 1.8vw;
  }
  .close{
    height: 3vw;
    width: auto;
    left: 22vw;
    top: 0.3vw;
  }
  .square_2 img:last-child{
    max-height: 14vw;
    max-width: 14vw;
  }
  .svg_anim {
    position: absolute;
    margin-left: 25%;
    margin-top: 20%;
    max-width: 9vw;
    height: auto;
  }
}
@media (max-width: 320px) {
  .name{
    text-align: center;
    position: fixed;
    left: 3%;
    top: 15%;
  }
  .square_1{
    width: 21vw;
    height: 21vw;
    border: 1.5px solid #fff;
  }
  .square_1 h2{
   font-size: 7vw;
     margin-top: 5vw;
  }
  .square_1 p{
    font-size: 1.8vw;
  }
  .numbers p:last-child{
    font-size: 1.8vw;
    font-weight: bold;
    margin-top: 1vw;
    font-family: 'Gilroy-Medium', helvetica, sans-serif;
  }
  .square_1 p:first-child{
    margin-top: 0.8vw;
    margin-top: 1vw;
  }
  .square_1 h2 + p{
    font-size: 2.3vw;
    margin-top: 1vw;
  }
  .square_2{
    width: 31vw;
    height: 31vw;
    border: 2px solid #fff;
  }
  .square_2 p{
   font-size: 2.6vw;
   margin-left: 1.5vw;
   margin-top: 1.8vw;
  }
  .close{
    height: 3.5vw;
    width: auto;
    left: 25.5vw;
    top: 0.3vw;
  }
  .square_2 img:last-child{
    max-height: 16vw;
    max-width: 16vw;
  }
}
